.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

/* PANEL TRƯỢT */
.modal-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 100%;
  background: linear-gradient(180deg,#DAB1DA ,  #CBC3E3,#aeeaf1);
  box-shadow: 10px 0 30px rgba(0,0,0,0.3);
  display: flex;
  align-items: flex-end;

  /* BẮT ĐẦU NGOÀI MÀN HÌNH */
  transform: translateX(-100%);
  transition: transform 0.45s ease;
}

/* KHI MỞ → TRƯỢT VÀO */
.modal.active .modal-content {
  transform: translateX(0);
}

/* Ảnh nhân vật */
.char-img {
  width: 450px;
  margin-right: -80px; /* tràn nhẹ cho đẹp */
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.25));
}
.char-img:hover{
    transform: scale(1.05);
    transition: 0.3s;
    
}
/* Thông tin */
.char-info {
  padding: 40px 30px;
  flex: 1;
  text-align: left;
  font-size: 24px;
}
.char-info h2:hover{
  color: #f0d90ad5;
}
.close{
    text-decoration: none;
    font-size: 40px;
    float: right;
    color: rgb(0, 0, 0);
}
.close:hover{
    color: rgb(255, 0, 0);
    transition: 0.3s;
}
.modal1 {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal1.active {
  opacity: 1;
  pointer-events: auto;
}

/* PANEL TRƯỢT */
.modal1-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 100%;
  background: linear-gradient(180deg,#DAB1DA ,  #CBC3E3,#aeeaf1);
  box-shadow: 10px 0 30px rgba(0,0,0,0.3);

  display: flex;
  align-items: flex-end;

  /* BẮT ĐẦU NGOÀI MÀN HÌNH */
  transform: translateX(-100%);
  transition: transform 0.45s ease;
}

/* KHI MỞ → TRƯỢT VÀO */
.modal1.active .modal1-content {
  transform: translateX(0);
}

/* Ảnh nhân vật */
.char-img1 {
  width: 450px;
  margin-right: -80px; /* tràn nhẹ cho đẹp */
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.25));
}
.char-img1:hover{
    transform: scale(1.05);
    transition: 0.3s;
    
}
/* Thông tin */
.char-info1 {
  padding: 40px 30px;
  flex: 1;
  text-align: left;
  font-size: 24px;
}
.char-info1 h2:hover{
  color: #f47aff;
}
.close1{
    text-decoration: none;
    font-size: 40px;
    float: right;
    color: rgb(0, 0, 0);
}
.close1:hover{
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

.modal2 {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal2.active {
  opacity: 1;
  pointer-events: auto;
}

/* PANEL TRƯỢT */
.modal2-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 100%;
  background: linear-gradient(180deg,#DAB1DA ,  #CBC3E3,#aeeaf1);
  box-shadow: 10px 0 30px rgba(0,0,0,0.3);

  display: flex;
  align-items: flex-end;

  /* BẮT ĐẦU NGOÀI MÀN HÌNH */
  transform: translateX(-100%);
  transition: transform 0.45s ease;
}

/* KHI MỞ → TRƯỢT VÀO */
.modal2.active .modal2-content {
  transform: translateX(0);
}

/* Ảnh nhân vật */
.char-img2 {
  width: 450px;
  margin-right: -80px; /* tràn nhẹ cho đẹp=)) */
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.25));
}
.char-img2:hover{
    transform: scale(1.05);
    transition: 0.3s;
    
}
/* Thông tin */
.char-info2 {
  padding: 40px 30px;
  flex: 1;
  text-align: left;
  font-size: 25px;
}
.char-info2 h2:hover{
  color: #5b9cff;

}

.close2{
    text-decoration: none;
    font-size: 40px;
    float: right;
    color: rgb(0, 0, 0);
}
.close2:hover{
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

.modal3 {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal3.active {
  opacity: 1;
  pointer-events: auto;
}

/* PANEL TRƯỢT */
.modal3-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 100%;
  background: linear-gradient(180deg,#DAB1DA ,  #CBC3E3,#aeeaf1);
  box-shadow: 10px 0 30px rgba(0,0,0,0.3);

  display: flex;
  align-items: flex-end;

  /* BẮT ĐẦU NGOÀI MÀN HÌNH */
  transform: translateX(-100%);
  transition: transform 0.45s ease;
}

/* KHI MỞ → TRƯỢT VÀO */
.modal3.active .modal3-content {
  transform: translateX(0);
}

/* Ảnh nhân vật */
.char-img3 {
  width: 450px;
  margin-right: -80px; /* tràn nhẹ cho đẹp */
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.25));
}
.char-img3:hover{
    transform: scale(1.05);
    transition: 0.3s;
    
}
/* Thông tin */
.char-info3 {
  padding: 40px 30px;
  flex: 1;
  text-align: left;
  font-size: 20px;
}
.char-info3 h2:hover{
  color: #9d4aeb;

}
.close3{
    text-decoration: none;
    font-size: 40px;
    float: right;
    color: rgb(0, 0, 0);
}
.close3:hover{
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

.modal4 {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal4.active {
  opacity: 1;
  pointer-events: auto;
}

/* PANEL TRƯỢT */
.modal4-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 100%;
  background: linear-gradient(180deg,#DAB1DA ,  #CBC3E3,#aeeaf1);
  box-shadow: 10px 0 30px rgba(0,0,0,0.3);

  display: flex;
  align-items: flex-end;

  /* BẮT ĐẦU NGOÀI MÀN HÌNH */
  transform: translateX(-100%);
  transition: transform 0.45s ease;
}

/* KHI MỞ → TRƯỢT VÀO */
.modal4.active .modal4-content {
  transform: translateX(0);
}

/* Ảnh nhân vật */
.char-img4 {
  width: 450px;
  margin-right: -80px; /* tràn nhẹ cho đẹp */
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.25));
}
.char-img4:hover{
    transform: scale(1.05);
    transition: 0.3s;
    
}
/* Thông tin */
.char-info4 {
  padding: 40px 30px;
  flex: 1;
  text-align: left;
  font-size: 22px;
}
.char-info4 h2:hover{
  color: #cc7f40;}

.close4{
    text-decoration: none;
    font-size: 40px;
    float: right;
    color: rgb(0, 0, 0);
}
.close4:hover{
    color: rgb(255, 0, 0);
    transition: 0.3s;
}


