/*Phần lớn các code này đã được học trong bài*/
/*chỉ có 1 số code như aniamation hiệu ứng khi click bla bla vs 1 vài code định dạng vị trí của các đối tượng trong web là lấy từ w3schools.com*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url('z7456966958255_02554007c4af02fba468f8456b107734.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 320px;
    padding: 40px;
    background-position: center;
    border-radius: 10px;
    animation: showForm 0.8s ease;
    background-color: rgb(22, 226, 216);
    border: 5px solid;
    outline: none;
    animation: rgbBorder 4s linear infinite;

}
@keyframes rgbBorder{
    0%{
       border-color: rgb(255, 115, 0);
    }
    25%{
        border-color: rgb(255, 166, 0);
    }
    50%{
        border-color: rgb(255, 238, 0);
    }
    75%{
        border-color: rgb(229, 255, 0);
    }
    100%{
        border-color: rgb(255,0,0);
    }
}
/*keyframes này nhóm lấy thêm từ internet(w3schools) */
@keyframes showForm {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #999;
    font-size: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    background: #fff;
    padding: 0 5px;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #e71531;
}

button {
    width: 100%;
    padding: 10px;
    background-image: url('');
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #5a67d8;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#5a67d8;
}

