.ngankhoangcach p{
    margin-bottom: 0px;

}
.heading{
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box-2{
    width: 1000px;
    height: 300px;
    background-color: #fff0f5;
    position: relative;
    border-radius: 30px;
    margin: 30px;
    padding: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    grid-row: 1;
    grid-column: 2;

}
.box-box2{
    text-align: center;
     display: grid;
     grid-template-rows: auto auto;
      gap: 30px;
      position: absolute;
      align-items: start;
      max-width: 1200px;
      margin: 0 auto;

}
.box-2:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: translateY(-5px);

}
.box-3{
    width: 265px;
    height: 376px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/4/46/Laid-Back_Camp_season_2_main_visual.jpg');
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
}
.box-3:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
}
.box-4{
    width: 265px;
    height: 376px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/4/46/Laid-Back_Camp_season_2_main_visual.jpg');
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
    margin-left: 26%;
    
    
    
}
.box-4:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
}
.box-5{
    width: 265px;
    height: 376px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/4/46/Laid-Back_Camp_season_2_main_visual.jpg');
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
    margin-left: 52%;

}
.box-5:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
}
.box-6{
    width: 265px;
    height: 376px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/4/46/Laid-Back_Camp_season_2_main_visual.jpg');
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
    margin-left: 78%;
}
.box-6:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
}
