.ngankhoangcach p{
    margin-bottom: 0px;

}
.heading{
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box-2{
    width: 1000px;
    height: 300px;
    background-color: #fff0f5;
    position: relative;
    border-radius: 30px;
    margin: 30px;
    padding: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    grid-row: 1;
    grid-column: 2;

}
.box-box2{
    text-align: center;
     display: grid;
     grid-template-rows: auto auto;
      gap: 30px;
      position: absolute;
      align-items: start;
      max-width: 1200px;
      margin: 0 auto;

}
.box-2:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.7s;

}
.box-3{
    width: 265px;
    height: 376px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/4/46/Laid-Back_Camp_season_2_main_visual.jpg');
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
}
.box-3:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
    box-shadow: 0 4px 8px rgba(151, 252, 255, 0.836);
    
}
.box-4{
    width: 265px;
    height: 376px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/4/46/Laid-Back_Camp_season_2_main_visual.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
    margin-left: 26%;
    
    
    
}
.box-4:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
    box-shadow: 0 4px 8px rgba(151, 252, 255, 0.836);
}
.box-5{
    width: 265px;
    height: 376px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/2/20/Laid-Back_Camp_season_1_main_visual.jpg/250px-Laid-Back_Camp_season_1_main_visual.jpg');
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
    margin-left: 52%;

}
.box-5:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
    box-shadow: 0 4px 8px rgba(151, 252, 255, 0.836);
}
.box-6{
    width: 265px;
    height: 376px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/vi/thumb/8/82/%C3%81p_ph%C3%ADch_phim_Eiga_Yuru_Camp.jpg/250px-%C3%81p_ph%C3%ADch_phim_Eiga_Yuru_Camp.jpg');
    position: relative;
    border-radius: 20px;
    margin:0px;
    padding: 10px;
    grid-row: 2;
    grid-column: 2;
    row-gap: 2px;
    column-gap: 2px;
    transition: 0.3s;
    margin-left: 78%;
}
.box-6:hover{
    transform: scale(1.05);
    transition: 0.3s;
    rotate: 2deg;
    box-shadow: 0 4px 8px rgba(151, 252, 255, 0.836);
}
.imagenhanvat{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-left: 5%;
}
.imagenhanvat:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
/* Modal ẩn */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
  display: none;
}
.modal:hover{
    transition: 0.8s;
    transform: scale(1.18);
}
/* Khi click (được target) */
.modal:target {
  display: block;
}

/* Hộp nội dung */
.modal-content {
  background: white;
  width: 50%;
  height: 60%;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Nút đóng */
.close {
  text-decoration: none;
  font-size: 24px;
  float: right;
  color: black;
}


