body{
     margin: 0;padding: 0;overflow-x: hidden;
     width: 100%;
     max-width: 2300px;
      margin: 0 auto;
      display: block;
      background:linear-gradient(90deg,#DAB1DA , #f39e6c,#764ba2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Menu chính */
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}


/* Li có dropdown */
.has-dropdown {
    position: relative;
}

/* Dropdown */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;

    list-style: none;
    padding: 0;
    margin: 0;

    background: rgb(136, 226, 248);
    min-width: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/* Item trong dropdown */
.dropdown li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border-radius: 20px;
}

.dropdown li a:hover {
    background: linear-gradient(to right, lightblue, lightcyan);
    background-color: #ccc;
    border-radius: 20px;

}

/* Hover để hiện */
.has-dropdown:hover .dropdown {
    max-height: 300px;
}


/* TASKBAR */
.taskbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg,#DAB1DA ,  #CBC3E3,#aeeaf1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    z-index: 1000;
    border-bottom: #DAB1DA;
}
.taskbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: translateY(-2px);
}

/* LOGO */
.logo {
    background-image: url('https://animetourism88.com/wp-content/uploads/2023/12/15_%E6%98%A0%E7%94%BB%E3%82%86%E3%82%8B%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%AD%E3%82%B4-scaled.jpg');
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu li:hover{
    transform: scale(1.05);
}
.menu li a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

/* Hover gạch chân */
.menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.menu li a:hover::after {
    width: 100%;
}

/* LOGIN BUTTON */
.btn-login {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 6px 18px;
    border-radius: 20px;
    transition: 0.3s;
}
/*hover là 1 lớp giả lập khi di chuột vào*/
.btn-login:hover {
    background: white;
    color: #764ba2;
}

/* Đẩy nội dung xuống dưới taskbar */
body {
    padding-top: 60px;

}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.search-bar {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: 0.3s;
    width: 40%;
    margin-inline-start: 5%;
    position: relative;

/*phần này anh em nào muốn vào sửa file /canh giữa thì thêm margin-inline star*/
/*còn muốn thanh search nhỏ lại thì chỉnh chiều rộng/ width tùy ý
/* lưu ý search bar phải nằm trong thẻ div class taskbar mới canh giữa được nha&*/


}

.search-bar:hover {
    transition: 0.3s;
    box-shadow: 0 6px 10px rgb(252, 220, 151);
    transform: scale(1.05);
}
.logo {
    width: 160px;
    height: 55px;
    position: relative;
    margin-left: 50px;
    border-radius: 30px;

}
.logo:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(255, 206, 116, 0.973);
}
.box {
    width: 500px;
    height: 800px;
    background-image: url('https://image.lag.vn/upload/news/23/07/10/anime-yuru-camp-season-3-2_DWER.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
    margin: 30px;
    padding: 10px;
    grid-row: 1 / span 2;
    grid-column: 1;
    row-gap: 2px;
    column-gap: 2px;

}
.box:hover{
    transform: scale(1.15);
    transition: 0.3s;
    rotate: 2deg;
    box-shadow: 0 5px 10px rgba(255, 206, 116, 0.973);

    
}
.video{
    position: absolute;
    inset: 0;
    z-index: -2;
    text-decoration: none;
}
